/* STYLE ADDITIONS RC 2016 */
.swatch-link{padding: 5px 8px;}
.mobile-magic button.mz-button { background-color: rgba(255, 255, 255, 0.71) !important; color: black !important; }
.ms-megamenu .mb-submenu .mb-return span, .ms-megamenu .lmb-submenu .mb-return span { float: left; font-size: 20px; line-height: 12px; font-weight: bold; }
label[for="billing\:fax"], input#billing\:fax{display:none !important;}
#nav-44 > a {    color: #ffffff !important;    background: #c31632;}
#narrow-by-list div dt { border-top: 1px solid #ddd; font-size: 15px; border-bottom: 1px solid #ddd; font-family: futura; font-weight: 500; text-transform:uppercase; padding:8px; letter-spacing: 2px; }

#nav-44 > a{color: #c31632}
.customer-account-create .buttons-set{width: 100%;margin: 10px auto;padding-top:  10px;max-width: 100%;clear:  both;}
.customer-account-create .customer-name-middlename .field{width: 100% !important}
.customer-account-create .main button.button{width: 200px !important;min-width: 0 !important;float: none;clear:  both;display:  block;margin: 0 auto;background: #5AA11F !important;}
.header-links a{color: #606060 !important}

.checkout-onepage-index .buttons-set button.button,
.cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{background: #5AA11F !important}
.checkout-onepage-index .top-container{max-width: 1300px; margin: 0 auto; width: 100%}
.checkout-onepage-index .cm-holder{padding: 0}

@media screen and (max-width: 700px){
    .checkout-mssg{margin-top: 50px !important;}
    .checkout-onepage-index .cm-holder img{max-width: 200px !important; margin: 10px}
}

.checkout-onepage-index #header{box-shadow: 2px 4px 10px rgba(200,200,200, 0.2);}

@media screen and (max-width: 500px){
.cart .button{width: 100%; font-size: 18px}
#discount-coupon-form .input-text, .cart .giftcard .input-text{width: 100%; max-width: 88%;}
#discount-coupon-form .button-wrapper, .cart .giftcard .button-wrapper{width: 10%}
#discount-coupon-form .field-wrapper{float: left;width: 100%;}
}

@media screen and (max-width: 646px){
#opc-login .col-1{width: 100%; margin-left: 0}
#opc-login .col-2{width: 100%; margin-left: 0;}
#opc-login .buttons-set button.button{width: 100% !important; max-width: 95%; margin-left: 0 !important;}
#opc-login .col-2 .input-text, #opc-login .col-2 .input-box{width: 100% !important; max-width: 97% !important; padding: 10px 0}
#opc-login input{padding: 20px !important;}
}

@media screen and (max-width: 767px){
.swatch-link{padding: 12px 12px;}
.footer-column.quarter h3, .footer-column:nth-child(4) h3{background: #606060}
}

@media screen and (max-width: 770px){
.category-products > .toolbar .limiter select{height: 59px;}
.product-view .product-shop .product-name .h1{margin: 0;}

/* Ipad to mobile filters fix*/
.category-products > .toolbar .sorter { float: left; width: 33.333%; position: absolute; margin-left: 0px; left: 32%; }
.block-layered-nav .block-content {  margin-top: 0px; }
.category-products > .toolbar .count-container { float: left; width: 33.333%; position: absolute; right: 0; }
.category-products .limiter { margin-top: 0px; }
.block-layered-nav .block-subtitle--filter.active:after { border-right: none; border-left: none; border-top: none; border-bottom: none; margin-top: -10px; }
.category-products > .toolbar .sorter select { margin-left: 0px !important;}
.category-products > .toolbar .limiter select {  left: 10px; }

}

/* MEGA MENU BLOCKS - AUTO WIDTHS */
/*Mega Menu fix*/
.active-menu section{width:100%; height:100%; display: block;}


.menu-holder:after{clear: both; content: ""; display: block;}
.ms-maincontent{background: #fff !important; width: auto !important; display: inline-block}
.ms-megamenu .ms-submenu{padding: 0; background: none; border: 0;}

/* New Arrivals */
#submenu-37 .mm-col{width: 50%;}

/* Footwear */
#submenu-41 .mm-col{width: 50%;}
#submenu-41 .ms-maincontent{left: 39%; position: relative}

/* Rucksacks */
#submenu-42 .ms-maincontent{left: 50.5%; position: relative}
#submenu-42 .mm-col{width: 100%}

/* Camping */
#submenu-43 .ms-maincontent{left: 31.5%; position: relative}
#submenu-43 .mm-col{width: 50%}

@media screen and (max-width: 1260px){
.ms-megamenu .ms-submenu{top: 44px !important}
/* Footwear */
#submenu-41 .ms-maincontent{left: 31%; position: relative}
/* Rucksacks */
#submenu-42 .ms-maincontent{left: 40%; position: relative}
/* Camping */
#submenu-43 .ms-maincontent{left: 14.5%; position: relative}
}

@media screen and (max-width: 960px){
.ms-megamenu .ms-submenu{background: #fff;}
/* Footwear */
#submenu-41 .ms-maincontent{left: 0%; position: relative}
/* Rucksacks */
#submenu-42 .ms-maincontent{left: 0%; position: relative}
/* Camping */
#submenu-43 .ms-maincontent{left: 0%; position: relative}
#submenu-43 .mm-col{width: 50%}

}

.product-view .add-to-cart-buttons .button{max-width: 100%}
.seofoot h3, .seofoot h4{color: #606060}
.catalog-product-view .percentOffContainer{padding: 5px 10px;}

@media screen and (max-width: 767px){
.ms-topmenu .ms-label{font-size: 18px}
.ms-megamenu .mb-submenu .mb-maincontent a{font-size: 16px; }

}

@media screen and (max-width: 770px){
.mcBtn{display: none;}
}

@media screen and (max-width: 767px){
.minicart-wrapper > .block-subtitle + div{MAX-HEIGHT: 130PX;}
.mcBtn{top: 40px; display: block}
.mcBtn.next{top: 170px; left: -100px}
}

.cms-page-view .std p, .cms-no-route .std p,
.cms-page-view .std li, .cms-no-route .std li{font-style: normal; font-family: nz}
.cms-page-view .std h2, .cms-no-route .std h2{color: #606060}

/*======== ALT VIEWS VERTICAL SLIDER ========*/

.product-img-box .MagicToolboxSelectorsContainer{max-height: 450px; overflow: hidden; margin: 0; display: block; position: relative;}
.product-img-box .MagicToolboxSelectorsContainer > div{margin: 15px 10px; position: relative;}
.viewBtn{position: absolute; top: -4px; width: 100%; left: 0; background: #fff; text-decoration: none !important; cursor: pointer; text-indent: -10000px;}
.viewBtn.next{position: absolute; top: auto; bottom: -4px;}
.viewBtn.next{background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/grey-arrow-down.png) no-repeat center; background-color: #fff; background-size: 16px; }
.viewBtn.prev{background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/grey-arrow-up.png) no-repeat center; background-color: #fff; background-size: 16px; }


@media screen and (max-width: 779px){
.viewBtn{display: none !Important}
div.MagicToolboxSelectorsContainer > div{top: 0 !important;}
div.MagicToolboxSelectorsContainer a{max-width: 40px;}
div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer{width: 100%; margin: 0;}
}

.checkout-onepage-success .page-title{ margin: 30px auto; text-align: center;}
.checkout-onepage-success .col-main{width: 100%}
.checkout-onepage-success .buttons-set button.button{background:#5aa11f !important; font-size: 18px;}

.paypal-express-review .page-title{margin-top: 20px;}
.paypal-express-review #order_review_form{max-width:1140px; }
.paypal-express-review #order_review_form button{background: #5aa11f !important}



/*NEW MOBILE MENU STYLES*/
@media only screen and (max-width: 767px) {
a.skip-cart {    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/bag-icon.png)!important;}
.header-minicart {    background: #cecece !important;}
.skip-account {    background-color: #e9e9e9 !important;    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/account-icon.png) !important;}
.header-links a {    border-right: 1px solid #e9e9e9 !important; }
.skip-search {    background-color: #e9e9e9!important;    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/search-icon.png)!important;}
.skip-link.skip-active.skip-cart {    background-color: #cecece !important;}

}

#header-account.skip-active{right: 150px;position:  absolute;top: 37px;}
#header-account a:hover{color: #606060;}
.page-header{background: #fff;}
.customer-account-login .col2-set .buttons-set button, .customer-account-login .col2-set .buttons-set .button{background: #5AA11F !important}
#store_search > div:nth-child(4) > button:nth-child(2) > span > span { float: left !important; background: #5AA11F !important; padding: 8px 20px; border-radius: 6px; margin: -18px -20px; }

/* STYLE ADDITIONS RC 2016 */

label[for="billing\:fax"], input#billing\:fax{display:none !important;}

#nav-44 > a{color: #c31632}
.customer-account-create .buttons-set{width: 100%;margin: 10px auto;padding-top:  10px;max-width: 100%;clear:  both;}
.customer-account-create .customer-name-middlename .field{width: 100% !important}
.customer-account-create .main button.button{width: 200px !important;min-width: 0 !important;float: none;clear:  both;display:  block;margin: 0 auto;background: #5AA11F !important;}
.header-links a{color: #606060 !important}

.checkout-onepage-index .buttons-set button.button,
.cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button{background: #5AA11F !important}
.checkout-onepage-index .top-container{max-width: 1300px; margin: 0 auto; width: 100%}
.checkout-onepage-index .cm-holder{padding: 0}

@media screen and (max-width: 700px){
    .checkout-mssg{margin-top: 50px !important;}
    .checkout-onepage-index .cm-holder img{max-width: 200px !important;margin: 10px;position: absolute;right: 135px;top: 28px !important;}
    .checkout-onepage-index .cm-holder img:nth-child(2){right: 0px;top: 13px !important;}
}

.checkout-onepage-index #header{box-shadow: 2px 4px 10px rgba(200,200,200, 0.2)}

@media screen and (max-width: 500px){
.cart .button{width: 100%; font-size: 18px}
#discount-coupon-form .input-text, .cart .giftcard .input-text{width: 100%; max-width: 88%;}
#discount-coupon-form .button-wrapper, .cart .giftcard .button-wrapper{width: 10%}
#discount-coupon-form .field-wrapper{float: left;width: 100%;}
}

@media screen and (max-width: 646px){
#opc-login .col-1{width: 100%; margin-left: 0}
#opc-login .col-2{width: 100%; margin-left: 0;}
#opc-login .buttons-set button.button{width: 100% !important; max-width: 95%; margin-left: 0 !important;}
#opc-login .col-2 .input-text, #opc-login .col-2 .input-box{width: 100% !important; max-width: 97% !important; padding: 10px 0}
#opc-login input{padding: 20px !important;}
}

@media screen and (max-width: 767px){
.footer-column.quarter h3, .footer-column:nth-child(4) h3{background: #606060}
}

@media screen and (max-width: 770px){
.category-products > .toolbar .limiter select{height: 59px;}
}

/* MEGA MENU BLOCKS - AUTO WIDTHS */
.menu-holder:after{clear: both; content: ""; display: block;}
.ms-maincontent{background: #fff !important; width: auto !important; display: inline-block}
.ms-megamenu .ms-submenu{padding: 0; background: none; border: 0;}

/* New Arrivals */
#submenu-37 .mm-col{width: 50%;}

/* Footwear */
#submenu-41 .mm-col{width: 50%;}
#submenu-41 .ms-maincontent{left: 39%; position: relative}

/* Rucksacks */
#submenu-42 .ms-maincontent{left: 50.5%; position: relative}
#submenu-42 .mm-col{width: 100%}

/* Camping */
#submenu-43 .ms-maincontent{left: 31.5%; position: relative}
#submenu-43 .mm-col{width: 50%}

@media screen and (max-width: 1260px){
.ms-megamenu .ms-submenu{top: 44px !important}
/* Footwear */
#submenu-41 .ms-maincontent{left: 31%; position: relative}
/* Rucksacks */
#submenu-42 .ms-maincontent{left: 40%; position: relative}
/* Camping */
#submenu-43 .ms-maincontent{left: 14.5%; position: relative}
}

@media screen and (max-width: 960px){
.product-shop .ratings + .product-ids{float: right; top: -10px}
.ms-megamenu .ms-submenu{background: #fff;}
/* Footwear */
#submenu-41 .ms-maincontent{left: 0%; position: relative}
/* Rucksacks */
#submenu-42 .ms-maincontent{left: 0%; position: relative}
/* Camping */
#submenu-43 .ms-maincontent{left: 0%; position: relative}
#submenu-43 .mm-col{width: 50%}

}

#prod-del-methods img{max-width:20%;float: left;margin-right: 5%;}
.altBtn.next{background: rgba(255,255,255,0.5); height: auto; border-radius: 4px;}
.product-view .add-to-cart-buttons .button{max-width: 100%}
.seofoot h3, .seofoot h4{color: #606060}
.catalog-product-view .percentOffContainer{padding: 5px 10px;}

@media screen and (max-width: 767px){
.ms-topmenu .ms-label{font-size: 18px}
.ms-megamenu .mb-submenu .mb-maincontent a{font-size: 16px; }

}

@media screen and (max-width: 770px){
.mcBtn{display: none;}
}

@media screen and (max-width: 767px){
.minicart-wrapper > .block-subtitle + div{MAX-HEIGHT: 130PX;}
.mcBtn{top: 40px; display: block}
.mcBtn.next{top: 170px; left: -100px}
}

.cms-page-view .std p, .cms-no-route .std p,
.cms-page-view .std li, .cms-no-route .std li{font-style: normal; font-family: nz}
.cms-page-view .std h2, .cms-no-route .std h2{color: #606060}

/*======== ALT VIEWS VERTICAL SLIDER ========*/

.product-img-box .MagicToolboxSelectorsContainer{max-height: 450px; overflow: hidden; margin: 0; display: block; position: relative;}
.product-img-box .MagicToolboxSelectorsContainer > div{margin: 15px 10px; position: relative;}
.viewBtn{position: absolute; top: -4px; width: 100%; left: 0; background: #fff; text-decoration: none !important; cursor: pointer; text-indent: -10000px;}
.viewBtn.next{position: absolute; top: auto; bottom: -4px;}
.viewBtn.next{background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/grey-arrow-down.png) no-repeat center; background-color: #fff; background-size: 16px; }
.viewBtn.prev{background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/grey-arrow-up.png) no-repeat center; background-color: #fff; background-size: 16px; }


@media screen and (max-width: 779px){
.viewBtn{display: none !Important}
div.MagicToolboxSelectorsContainer > div{top: 0 !important;}
div.MagicToolboxSelectorsContainer a{max-width: 40px;}
div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer{width: 100%; margin: 0;}
}

.checkout-onepage-success .page-title{ margin: 30px auto; text-align: center;}
.checkout-onepage-success .col-main{width: 100%}
.checkout-onepage-success .buttons-set button.button{background:#5aa11f !important; font-size: 18px;}

.paypal-express-review .page-title{margin-top: 20px;}
.paypal-express-review #order_review_form{max-width:1140px; }
.paypal-express-review #order_review_form button{background: #5aa11f !important}



/*NEW MOBILE MENU STYLES*/
@media only screen and (max-width: 767px) {
.header-minicart > a{background: #ccc !important}
a.skip-cart {background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/bag-icon.png)!important;background-position: center !important;background-size: 80% !important;background-repeat: no-repeat !important;}
.header-minicart {background: #cecece !important;}
.skip-cart .count, .skip-link.skip-active .count {color: #000000 !important; margin-top: 0px !important;}
.skip-account {background-color: #e9e9e9 !important; background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/account-icon.png) !important;}
.header-links a {border-right: 1px solid #e9e9e9 !important; }
.skip-search {background-color: #e9e9e9!important; background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/search-icon.png)!important;}
.skip-link.skip-active.skip-cart {background-color: #cecece !important;}

}

#header-account.skip-active{right: 150px;position:  absolute;top: 37px;}
#header-account a:hover{color: #606060;}
.page-header{background: #fff;}
.customer-account-login .col2-set .buttons-set button, .customer-account-login .col2-set .buttons-set .button{background: #5AA11F !important}
#store_search > div:nth-child(4) > button:nth-child(2) > span > span { float: left !important; background: #5AA11F !important; padding: 8px 20px; border-radius: 6px; margin: -18px -20px; }

header a[href="http://www.regatta.com/storepickup/index/index/"]{display: none !important}

.product-view .ratings .rating-links{display: block; position: absolute; font-size: 12px; bottom: -5px; left: 0;}
@media screen and (max-width: 934px){
    .product-view .ratings .rating-links{display: block; position: absolute; font-size: 12px; bottom: 7px; left: 0;}
}


.product-essential .box-related{float: right; width: 40%; overflow: hidden; position: relative; margin-right: 5%}
.product-essential .box-related li{float: left; margin: 0}
.product-essential .box-related ul{position: relative;}
.product-essential .box-related .block-content{width: 90%; overflow: hidden}

@media screen and (max-width: 660px){
.product-img-box{padding-top: 240px;width: 100%;}
.product-view .product-shop .extra-info{
    padding-bottom: 10px;
    padding-right:  0;
}
}

.ro-only{display: none;}

.catalog-category-view .products-grid > li{position: relative !important;padding-bottom: 18px;}
.catalog-category-view .products-grid .quickbuy{position: absolute !important;bottom: 0 !important;left: 0;width: 100%;top: auto !important;}
.catalog-category-view .products-grid .ratings{top: 0;}

.checkout-onepage-index .top-container{
    max-width: 100% !important;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 9999999999999999;
    height: 0;
}
.checkout-onepage-index .cm-holder{max-width: 1260px;margin: 0 auto !important;width: 100%;}
.checkout-mssg{
    background-size: 140px !important;
    background-position: right 8px !important;
    padding-left: 0px !important;
    padding-right:  140px !important;
    padding-top: 16px !important;
    padding-bottom: 40px !important;
    background-repeat: no-repeat !important;
    font-size: 15px !important;
    font-weight: bold;
    letter-spacing: 1px;
    float:  right;
}

html .cm-holder img{float: right !important;top: 40px !important;right: -203px;left: auto !important;margin-right: 10px !important;clear: none !important;}
img[alt="PayPal Logo"]{margin-top: 6px;}
html .cm-holder img:last-child{width: 230px;}
.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number{
    color: #ddd;
    background-color: #fff;
}
.opc .section .step-title .number{
    width: 40px !important;
    height: 40px !important;
    border: 2px solid #ddd;
    padding: 7px 0 !important;
    font-size: 16px;
    background-color: #fff !important;
 }
.opc .section.active .step-title{background: transparent;}
.checkout-onepage-index .col-main{width: 100%; margin: 0 auto;}
.checkout-onepage-index .main-container{margin: 0; max-width: 100%}
#checkoutSteps{max-width: 1060px;margin: 20px auto;width: 100%;background: transparent;}
.opc .section .step-title{background: transparent;}
.checkout-onepage-index .page-title h1{
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 1px;
    font-size: 28px;
    padding-bottom: 20px;
    position: relative;
    bottom: -54px;
    width: 100%;
    border-bottom: 2px solid #eee;
    padding-bottom: 46px;
    margin-top: -34px;
    color: #999;
}
.opc .step-title h2, .opc .allow .step-title h2, .opc .active .step-title h2{
    color: #ddd !important;
    margin-top: 64px;
    font-weight: bold !important;
    font-size: 12px !important;
}

.checkout-onepage-index .page-title{padding-right: 0;}
.opc .section.allow.active .step-title .number{
    color: #999 !important;
    border-color: #aaa;
    background-color: #ddd !important;
}
.opc .active .step-title h2{color: #aaa !important}

.opc select, .opc input[type="text"]{border: 1px solid transparent; /*! padding: 10px; */ border-radius: 6px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2); border-top: 0; border-bottom: 1px solid #ddd}
.opc input[type="text"]{/*! padding: 19px !important; */ box-shadow: inset 0px 1px 2px rgba(0,0,0,0.25); border-top: 0;}
.opc p.required{clear: both}
.opc .control label{padding-top: 0px }
label[for="billing:use_for_shipping_no"]{background-position: left 18px !important}
#billing-new-address-form li:nth-child(5){margin-top: -42px}
div#collect_popup{width: 100%; margin-bottom: 20px; border-radius: 8px; border: 3px solid #eee}
#collect_popup button{
    margin-top: 0; border-radius: 0 6px 6px 0; position: relative; left: -10px;
    padding: 10px 10px 8px 10px; top: -1px;
}
#collect_popup > span > a{
    color: #fff !important; background: #606060; width: 20px; height: 20px; display: block;
    text-align: center; border-radius: 10px; margin-top: -10px !important; margin-right: -10px
}
.shipping_collectplus_msg{border: 3px solid #eee; border-radius: 8px}
.shipping_collectplus_msg button{border-radius: 6px;}
.opc .step-title, .opc .allow .step-title, .opc .active .step-title{height: auto}

/*////// completed checkout steps ///////*/

.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number{
    margin-top: -13px !important;
}
.opc .section.allow:not(.active) .step-title{background-color: transparent !important;}
.opc .section.allow .step-title .number{
    background-color: #ffba0e !important;
    border: #ffba0e !important;
    color: #fff !important;
    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW16/check-mark-in-white-md.png);
    background-size: 50%;
    font-size: 0;
    background-position: center !important;
    background-repeat: no-repeat;
    transform-origin: center;
    margin-top: -13px;
}
.opc .section.allow.spin:not(active) .step-title .number{-webkit-animation: tickSpin 0.5s ease forwards;}

.opc .section.allow .step-title h2{color: #ffba0e !important}
.opc .section.allow.active .step-title h2{color: #aaa!important;}
.opc .section.allow.active .step-title .number{background-image: none !important;color: #aaa !important;font-size: 16px;}
#popup_locations:after{clear: both; content: ""; display: block;}
.popup_button{clear: noth; float: none}
.popup_button .button{border-radius: 8px !important}

@keyframes tickSpin{
    0% { background-position: center; opacity: 1; background-size: 0%; transform: scale(-1,-1); opacity: 0; }
    50% {transform: scale(1.2,1.2)}
    100% { background-position: center; opacity: 1; background-size: 50%; transform: scale(1,1); opacity: 1}
}

@media screen and (max-width: 767px){
    .checkout-onepage-index .top-container{height: auto}
    .checkout-onepage-index .top-container{z-index: 20}
    .checkout-onepage-index .page-header{z-index: 99999999999999999999999999999999;background: #fff !important;position: fixed;}
    .checkout-onepage-index  .top-container{top: 100px; border-bottom: 1px solid #eee; width: 100%;}
    .checkout-mssg{margin-top: -20px !important;}
    html .cm-holder img{top: 20px !important}
    .checkout-onepage-index .page-title h1{margin: 0px auto;/* margin-left: 20px; */}
    .checkout-onepage-index .page-title{margin-top: 0;}
    .checkout-onepage-index .page-title h1{padding-bottom: 40px; bottom: -54px; padding-top: 50px}
    .checkout-onepage-index .main{padding: 0}
    #collect_popup label{display: block}
    .shipping_collectplus_msg .button{max-width: 250px !important; display: block; font-size: 12px !important;}
    input[name="collect_postcode"]{max-width: 160px !important; clear: both !important; display: block; float: left}
}

@media screen and (max-width: 700px){

.opc li.section{float: left;width: 16.66%;display: block;height: 30px;margin-bottom: 10px;}
.opc .step-title h2, .opc .allow .step-title h2, .opc .active .step-title h2, .opc .section .step-title h2{margin-top: 8px;
    margin-left: 0px !important; font-size: 10px !important;
}
.opc .section .step-title .number, .opc .section.allow.active .step-title .number{
    display: block !Important;
    width: 24px !important;
    height: 24px !important;
    margin-top: 3px !important;
    position: relative !important;
    left: 0px !important;
    top: 0 !important;
    font-size: 13px;
    line-height: 1.9em;
}
.opc .section .step-title .number, .opc .section.allow.active .step-title .number, .no-touch .opc .section.allow:hover .step-title .number{
    margin-top: 0 !important; padding: 0 !important;
}
.checkout-onepage-index .page-title h1{top: 93px; margin-bottom: 80px; padding-bottom: 60px; height: 10px; padding-top: 10px }
}
@media screen and (max-width: 660px){
.product-essential .box-related {  width: 100%;  margin-right: 0%; }


}


@media screen and (max-width: 600px){
.checkout-mssg p{font-size: 10px}
.opc li.section{float: left;width: 33%;display: block;height: auto;margin-bottom: 0px;}
.checkout-onepage-index .cm-holder img:nth-child(2){width: 50px !important;right: 140px;top: 42px !important;position: absolute !important;}
html .cm-holder img:last-child{height: 22px; width: auto !important}
.opc:first-of-type .active .step{top: 130px; padding: 10px !important;}
.checkout-onepage-index .page-title h1{border: 0; top: 110px; padding-bottom: 0; margin-bottom: 160px}
}

@media screen and (max-width: 510px){
    .products-grid .product-info { min-height: 260px !important; }

}


.returnsInformation > strong, .returnsInformation > br:nth-child(3) {display:none;}

.checkout-cart-index .cm-holder{display: block; max-width: 1260px; margin: 0 auto; min-height: 30px;}
@media screen and (max-width: 767px){
    .checkout-cart-index .cm-holder{display: none;}
}

.sizechart{
    background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/size-icon.png) no-repeat;
    background-size: 20px;
    padding-left: 30px
}

.catalog-category-view .block-layered-nav .block-content > dl > dt{
    background-color: #eaeaea;
    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW14/img/minus.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.catalog-category-view .block-layered-nav .block-content > dl > dt.amshopby-collapsed{
    background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW14/img/plus.png);
}


#to-top{
    background: url(https://dbdhuxde2t9el.cloudfront.net/AW16/img/global/white-arrow-line.png) no-repeat;
    background-color: #ddd;
    width: 50px;
    height: 50px;
    background-size: 40%;
    background-position: center;
    border-radius: 10px;
    transform: rotateZ(270deg);
    transform-origin: center;
    position: relative;
    left: 10px;
    bottom: 10px;
    text-indent: -100000px;
    cursor: pointer;
    box-shadow: -2px 2px 5px rgba(0,0,0,0.3);
    display: none;
}

#to-top.fixed{
    position: fixed;
    top: 10px;
    left: 45px;
}

.cart-table .cart-links > li > a{
    color: #ffae38
}

.product-cart-remove .btn-remove2{
    background: url(https://d3h1w1ia8q4z9t.cloudfront.net/SS16/images/global/trash-can.png) no-repeat;
    background-size: 70%;
    background-position: center;
}

.product-view .add-to-cart-buttons{max-width: 260px}
.product-view .product-shop .product-name{margin-bottom: 16px}

@media screen and (max-width: 800px){
    #to-top{display:none}
}

/* SALE - YELLOW */

#header-nav{border-bottom: 8px solid #f9bb16;}
.header-minicart > a{background: #f9bb16;}
html .sbs-block{/* background-color: #f1c413 !important; */}
html body a.sbs-block{/* color: #000 !important */}
.header-minicart .label{
    background: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW16/img/basket-black.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.price-box .special-price .price:before{display: inline-block !important;}

.monetate-product-relationships-one{display: block !important; clear: both;}
.monetate-product-relationships-one > ul{padding-top: 40px; clear: both;}
.monetate-product-relationships-one > div{display: none;}
.monetate-product-relationships-one > div.open{display: block; border-top: 1px solid #aaa; padding-top: 30px}
.monetate-product-relationships-one > ul li{
  float: left; padding: 10px 20px; font-size: 16px; background: #eee; border: 1px solid #aaa; border-bottom: 0;
  border-radius: 6px 6px 0 0; cursor: pointer; text-transform: uppercase;
  }
.monetate-product-relationships-one > ul li.open{background: #333; color: white; padding-top: 16px; position: relative; margin-top: -6px; border-color:  #333 }

.catalog-product-view .amlabel-div{left: 100px}

@media screen and (max-width: 967px){

.catalog-product-view .amlabel-div{left: 70px}

}

@media screen and (max-width: 767px){

.catalog-product-view .amlabel-div{left: 0px; max-width: 100px;}
.catalog-product-view .amlabel-div td{background-size: 80px !important;}

}

#countdown{display: block}
#countdown div{display: inline-block; margin: 0 6px;}
#countdown div span{display: block; font-size: 12px;}

@media screen and (max-width: 767px){

.page{margin-top: 60px !important;}

}

@media screen and (max-width: 480px){

.page{margin-top: 40px !important;}

}


.checkout-onepage-index .countdown-70{display: none;}


.cms-homepage .main-container + .mt_endcap.mt_horizontal{display: none !important}

@media screen and (max-width: 770px){

#header-collect{display: block !important;}
#header-collect li{width: 100% !important; float: none !important; padding: 0 !important; border: 0 !important; border-bottom: 1px solid #ddd !important}
#header-collect, #header-collect ul{background: none !important; padding-bottom: 0 !important}
html #header-collect{display: none !important;}
html .cms-homepage #header-collect{display: block !important;}
.banner-links{display: none !important;}

}

.banner-links li{float: left; margin: 16px 10px 0px 0;}
.banner-links li a{text-decoration: underline;}


.glyphicon-chevron-right:before{content: ">"}
.glyphicon-chevron-left:before{content: "<"}

@media screen and (max-width: 480px){

.main-container{margin-top: 20px !important}

}

@media screen and (max-width: 779px){

.ms-megamenu .mb-submain{height: auto;}

}


@media screen and (max-width: 767px){

.ms-megamenu .mb-submain{height: 82%;}

}


.disableBut{width: 48px; height: 40px; position: absolute; right: 0; top: 0;}
#qb-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    display: block;
    z-index: 999999999999;
    top: 0;
}

.wrapper .white_content{
    display: block;
    top: 20%;
    left: 40%;
    width: 30% !important;
    border: 1px solid #555;
    box-shadow: 0;
    position: fixed;
    background: #fff;
    z-index: 9999999999;
    /* padding:  20px; */
    /* font-size: 24px; */
}

.white_content #product-captions:last-child{
    text-align: center !important;
    text-indent: 0;
    font-size: 26px !important;
    position: relative;

    /* margin: 20px; */
    display: block;
    margin: 20px;
    color: #333;
}

.white_content .ok{
    background: #0080c5;
    clear: both;
    float: none;
    padding: 0;
    color: #fff;
    text-align: center;
    margin: 0;

}

.white_content .ok a{
    display: block;
    padding: 10px;
    font-size: 30px;
    color: #fff !important;
    text-transform:  uppercase;
    background: #222;
    text-decoration: none !important;
}

@media screen and (max-width: 960px){

.cart-table span.or{display: none;}
.wrapper .white_content{
    display: block;
    top: 20%;
    left: 10%;
    width: 80% !important;
    border: 1px solid #555;
    box-shadow: 0;
    position: fixed;
    background: #fff;
    z-index: 9999999999;
    /* padding:  20px; */
    /* font-size: 24px; */

}

.white_content #product-captions:last-child{
    text-align: center !important;
    text-indent: 0;
    font-size: 20px !important;
}

.white_content .ok a{
    display: block;
    padding: 10px;
    font-size: 20px;
}

}

@media screen and (max-width: 500px){

.disableBut{top: 46px;width: 60%;}

}


/*New Fabric element*/

.amshopby-link img{max-width:100%;}
.amshopby-link .productPageTechnologies{    padding: 20px; position: fixed; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0; max-width: 600px; max-height: 300px; overflow: scroll; margin: auto; border: solid; box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.53); background: white;    z-index: 999999999999;}
.productPageTechnologies .closeToolTip{float: right; position: static; margin: 0; margin-top: -20px; margin-right: -20px;}
.fabricContainer{ width:100% !important;}

@media only screen and (max-width: 770px) {
.fabricContainer {    margin-top: 0px;}
  .amshopby-link .productPageTechnologies{max-width:80%;}

}

/* NEW MEGA MENU STYLES */

.image-ident > a{position: absolute;}
.image-ident > a::before { content: ' '; width: 50px; height: 100%; position: absolute; right: 0; box-shadow: inset -30px 0px 30px -20px #ffffff; }
.mm-badges{float: left; clear: both; max-width: 200px;}
.mega-button { background: #000000; width: 89%; display: block; text-align: center; padding: 20px 0px; margin: 30px 30px; float: left; bottom: 0px; position: absolute; }
.link-container {      width: 31%;      float: left;      margin: 1%;  }
.sale-bar{display: none !important;}
.title {    display: block;    color: #1d2e38 !important;    font-size: 16px;    font-weight: 600;    text-transform: uppercase;    margin: 10px 0px 0px 0px;}
.sub-link {    display: block;    margin: 1px 0px;}
.image-ident {    max-width: 20%;    float: left;    width: 100%;}
.navigation-contents { max-width: 55%; float: left; position: absolute; width: 100%; left: 21%; box-shadow: 0px 0px 40px 30px #ffffff; background: white; height: 487px; }
.sale-contents:hover { max-width: 80%; position: absolute; right: 0; }
.sale-contents .active-menu img{     float: left;   max-width: 303px;}
.sale-contents .toggles:nth-child(2) .link-container.three{display:block!important;}
.sale-contents .toggles:nth-child(2) .button-toggle { background: black; }
.sale-contents { float: right; max-width: 80%; background: #c0283f; height: 487px; overflow: hidden; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; transition: all 300ms ease-out; position: absolute; right: -56%; }
.button-toggle:hover {    background: rgb(0, 0, 0) !important;}
.sale-contents .link-container.one { max-width: 20%; clear: both; margin: 0% 0% 0% 5%; }
.sale-contents .link-container.two { max-width: 20%; margin: 0% 0% 0% 5%; clear:both; }
.sale-contents .link-container.three { display: none;}
.sale-contents img { float: left; max-width: 303px; }
.sale-contents:hover img {margin-top: 0px; }
.sale-contents:hover .link-container.one { position: relative; left: 0px; top: 0px; max-width: 252px; height: initial; }
.sale-contents:hover .link-container.two { position: relative; right: 0px; max-width: 252px; margin: 0% 0% 0% 5%; }
.sale-contents:hover .link-container.three { display: block; width: 90%; color: #ffffff; margin: 0% 0%; max-width: 70%; position: absolute; top: 0px; left: 303px; padding: 2%; height: 100%; background-color: #a7182d; }
.navigation-contents.new-arrivals{max-width: 79%;}
.navigation-contents.new-arrivals .shop-all{    margin: 20px 0px 20px 0px;}
.sale-contents:hover .three .title { clear: both; margin: 10px 0px; }
.sale-contents .three .sbs-block-v2 { float: left; clear: none !important; margin: 4px 5px !important; padding: 10px 15px; text-align: center; background: #6d0818; }
.link-container.three .badges { max-width: 48%; width: 100%; margin: 3% 1%; }
.sale-contents .link-container {    width: 80%;    color: #ffffff;    margin: 0% 10%;}
.sale-contents .link-container a{color:#ffffff !important;}
.sale-contents  a{ }
.active-menu {     top: 0px;   min-height: 487px;  overflow: hidden;  width: 100%;    position: absolute;    background: white; display:block !important;}
.active-menu img{width: 100%;}
.shop-all { font-size: 17px; width: 100%; text-transform: uppercase; float: left; margin: 20px 0px 0px 5px; border-bottom: solid 1px; font-weight: bold; color: #1d2e38 !important; }
.active-menu.sale {  background: #c0283f !important;}
.active-menu.sale   .navigation-contents {  box-shadow: 0px 0px 40px 30px #c0283f; background: #c0283f; }
.active-menu.sale .shop-all{color: #ffffff !important;}
.active-menu.sale .title{color: #ffffff !important;}
.active-menu.sale .sub-link{    color: #f9bbbb !important;}
.active-menu.sale .sale-contents:hover .link-container.three { display: none; width: 100%; color: #ffffff; margin: 0% 0%; max-width: 100%; position: absolute; top: 9%; left: 0; padding: 2%; height: 100%; background-color: #a7182d; text-align: left;}
.active-menu.sale .sale-contents { background: #a2162b; background-image: url(https://d3h1w1ia8q4z9t.cloudfront.net/AW16/images/Mega-Menu/sale-hover-2.jpg); }
.toggles{width: 33.333%; float: left;}
.toggles:nth-child(3){border-left: solid 1px #ffffff; border-right: solid 1px #ffffff;}
.button-toggle:hover .link-container.three {display: block !important;}
.button-toggle { color: white; text-transform: uppercase; padding: 10px; text-align: center; height: 44px; border-bottom: solid 1px #ffffff;     background: #7b0e1f;}
.button-toggle:hover{    background: rgb(204, 6, 34);}
.active-menu.sale .navigation-contents {    max-width: 70% !important;}
.active-menu.sale .sale-contents{right: -73%;}
.active-menu.sale .sale-contents:hover {  right: 0 !important; }
.active-menu.sale .hover-image { width: 100%; position: absolute; max-width: 86px; left: 0; height: 100%; background: #a2172c; }
.active-menu.sale .sale-contents:hover  .hover-image{display: none !important;}
.active-menu.sale .sale-contents:hover .three .title {    margin: 0px 0px;}
.active-menu.sale .sale-contents .three .sbs-block-v2{    margin: 15px 5px !important;}


@media only screen and (max-width: 1220px) {
  .sale-contents {      right: -60%;}
  .sale-contents img {max-width: 238px; }
  .navigation-contents {    max-width: 60%;}
  .sale-contents:hover .mega-button { display: block; width: 90%; margin: 3% 0%; }
  .sale-contents .mega-button { width: 80%; }
  .sale-contents:hover .link-container.three { width: 100%; max-width: 75.5%; float: right; position: absolute; left: 238px; top: 0px; }
  .sale-contents:hover .link-container.two { clear:none; position: relative; right: 0px; margin: 0px; max-width: 252px; clear: both; margin: 0% 0% 0% 2%; display:block;}
  .sale-contents:hover .link-container.one { position: relative; left: 0px; top: 0px; max-width: 212px; height: initial; margin: 0 0 0 20px; }
  .navigation-contents.new-arrivals{max-width: 79%;}
}
@media only screen and (max-width: 1060px) {
  .active-menu.sale .hover-image > img{ display: block; width: 80%; position: absolute; top: 0; bottom: 0; margin: auto; }
}

@media only screen and (max-width: 1100px) {
  .navigation-contents { max-width: 59%; }
  .sale-contents .link-container.one { margin: 0% 0% 0% 4%; }
  .navigation-contents.new-arrivals{max-width: 79%;}
  .sale-contents:hover .link-container a:last-child{display: block;}
  .sale-contents img { max-width: 215px; }
  .sale-contents:hover img {    max-width: 265px;}
  .sale-contents:hover .link-container.three { max-width: 73.5%;}
  .sale-contents .link-container.two {margin: 0% 0% 0% 4%;}
}

@media only screen and (max-width: 1020px) {
  .sale-contents:hover .link-container.three { max-width: 71%;}
}


@media only screen and (max-width: 980px) {
  .sale-contents .link-container.one, .sale-contents .link-container.two, .sale-contents img{display: none;}
  .sale-contents:hover .link-container.one, .sale-contents:hover  img{display: block;}
  .sale-contents .sale-bar { display: block !important; max-width: 40px; margin: auto; position: absolute; top: 0; bottom: 0; left: 10px;}
  .sale-contents:hover  .sale-bar{display: none !important;}
  .sale-contents { right: -74%; }
  .sale-contents:hover .link-container.three { max-width: 76%; }
  .navigation-contents { max-width: 73%; }
}
@media only screen and (max-width: 980px) {
  .sale-contents:hover { max-width: 100%;}
}

@media only screen and (max-width: 840px) {
  .sale-contents:hover .link-container.three { max-width: 71%; }
  .sale-contents:hover .mega-button { width: 80%;}

}

@media only screen and (max-width: 780px) {
  .active-menu { overflow: initial; position: relative;  }
  .image-ident {  display: none; }
  .navigation-contents { max-width: 100%; left: 0;     position: relative;     box-shadow: none;}
  .sale-contents .sale-bar, .sale-contents:hover img { display: none !important; }
  .sale-contents { right: initial; position: initial; width: 100%; max-width: 100%;  height: auto;  }
  .sale-contents .link-container.one{ display: block;  width: 100%; max-width: 48%; margin: 0 1%; }
  .sale-contents .link-container.one { width: 100%; max-width: 48%; margin: 0 1%; }
  .sale-contents .link-container.three {display: block; padding: 3% 1%; width: 100%; background: #a7182d; margin: 3% 0px 0% 0px;}
  .sale-contents:hover { position: relative; }
  .sale-contents:hover .link-container.three { width: 100%; float: right; position: relative; left: 0px; top: 0px;  max-width: 100%; display: block; padding: 3% 2%; width: 100%; background: #a7182d; margin: 3% 0px 0% 0px; }
  .sale-contents .link-container.two { display: block; margin: 0% 0% 0% 4%; width: 100%; max-width: 48%; margin: 0 1%; float: left; clear: none !important; }
  .navigation-contents.new-arrivals { max-width: 100%; }
  .active-menu.sale .navigation-contents { box-shadow: 0px 0px 40px 30px transparent; background: #c0283f; }
  .active-menu.sale .navigation-contents { max-width: 100% !important; }
  .active-menu.sale .hover-image{display: none !important;}
  .toggles { width: 100%;}
  .active-menu.sale .sale-contents:hover .link-container.three { display: block; width: 100%; color: #ffffff; margin: 0% 0%; max-width: 100%; position: relative; top: 0; left: 0; padding: 2%; height: auto; background-color: #a7182d; text-align: left; margin-top: 20px; }
  .active-menu.sale .sale-contents { right: 0; }
  .sale-contents .link-container.three { display: block; padding: 3% 2%; width: 100%; background: #a7182d; margin: 13px 0% 0% 0%; text-align: left; }
  .sale-contents .link-container.three .title { clear: both; margin: 0px; }
  .sale-contents:hover .link-container.one {  max-width: 48%; display: block; margin: 0 0 0 7px; }
  .sale-contents .link-container a:last-child { display: block; }
  .sale-contents .mega-button { margin: 30px 0px 0px 0px !important; position: inherit; width: 100% !important; }
  .sale-contents:hover .three .title { clear: both; margin: 0px 0px; }
  .sale-contents:hover .link-container.two{    max-width: 48%;}

}

@media only screen and (max-width: 600px) {
    .link-container {      width: 48%;}
    .link-container.three{clear: both;}
}
@media only screen and (max-width: 480px) {
  .link-container {      width: 100%;}
  .sale-contents .link-container.two { clear: both !important; }
  .sale-contents .link-container.one, .sale-contents .link-container.two {max-width: 98%;}
  .sale-contents:hover .link-container.one, .sale-contents:hover .link-container.two{max-width:100%;}
  .sale-contents .link-container.one{margin: 0 2%;}
  .sale-contents:hover .link-container.two {  margin: 0 1%; }
}


/* magic zoom edits */

.mz-expand .mz-expand-stage{max-width: 1000px; margin: 0 auto;}
:root:not(.mobile-magic) button.mz-button{color: #333 !important;}

@media screen and (max-width: 767px){

button.mz-button.mz-button-close{top: 100px !important}

}

/* Category page edits */

.products-grid .price-box .old-price{margin-top: 6px;}
.percentOffContainer{background: #F1C413; color: black; border: 1px solid #e1b403;}

/* Header edits */

.skip-cart .count, .skip-link.skip-active .count{font-size: 12px; padding: 2px; font-weight: bold;}


.redeye-form > div { margin: 1%; float: left; width: 48%; }
.redeye-form  label { width: 100%; }
html .redeye-form input { width: 100%; height: 40px; border: 1px solid #cecece; border-radius: 3px; }
html .newsletter, html .toggles { width: inherit; clear: both; }
.redeye-form button{clear: both; float: left; margin: 1%; width: 50%; padding: 20px; background: #000000; color: #ffffff; font-size: 20px; text-transform: uppercase; border: 0px; border-radius: 6px;}

.newsletter.first{clear:both;}
html .newsletter { clear: none; width: 31%; margin: 1%; border: solid 1px #d0d0d0; padding: 10px; text-align: center; box-shadow: 0px 10px 10px -10px #909090; }
.form-checkbox { max-width: 18%; text-align: center; border: solid 1px #c5c5c5; padding: 1%; box-shadow: 0px 5px 2px -5px #808080; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; width: 20px !important; }

@media only screen and (max-width: 500px) {
.redeye-form > div { width: 100%; }
html .redeye-form input { max-width: 100%; }
.redeye-form button { width: 100%;  }

}
