/* Hawkshead New Theme Override Styles */

.logo {
    background: url('//dm5gggopeleel.cloudfront.net/images/AW16/hawkheads_logoNew.png') no-repeat;
    background-size: 100%;
}

.logo img {
    display: none !important;
}

@media only screen and (min-width: 771px) {

    .logo {
        max-width: 266px;
        min-height: 65px;
        margin-bottom: 2%;
    }
}

@media only screen and (max-width: 500px) {

    a.logo {
        width: 30%;
        min-width: 130px;
    }
}

@media only screen and (max-width: 380px) {

    a.logo {
        width: 30%;
        min-width: 110px;
    }
}

.genderheader {
    width: 95.4%;
}

.phead {
    line-height: 1.6 !important;
    margin-top: 12px;
}

.psubhead {
    margin-bottom: 6px;
}

.mmcontainer {
    padding-bottom: 3%;
}

.mmimage {
    float: none;
}

@media screen and (max-width: 770px) {
    
    .ms-megamenu .mb-label {
        padding: 10px 24px 10px 100%;
        background: transparent;
    }

    .hhcolumn, .othercontainer, .gendercontainer {
        width: 99%;
    }
}

@media screen and (min-width: 771px) {

    #header-search {
        top: 46px;
    }
}

.uspBanners {
    width: 98%;
    max-width: 1260px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uspBanners * {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.uspBanners__container {
    float: left;
    margin: 1% 0;
    width: 100%;
}

.uspBanners__banner {
    display: block;
    width: 32%;
    float: left;
    margin: 0;
    text-align: center;
    color: #fff !important;
    background-color: #ccc;
    padding: 1% 0;
    text-transform: uppercase;
    font-size: 1.2vw;
    letter-spacing: 1px;
    border: 3px #ccc solid;
}

.uspBanners__banner:hover {
    
    background: #fff;
    color: #999 !important;
}

.uspBanners__banner:nth-child(2) {
    margin: 0 2%;
}

@media screen and (min-width: 1260px) {

    .uspBanners {
        width: 100%;
    }

    a.uspBanners__banner {
        font-size: 16px;
    }
}

@media screen and (max-width: 960px) {

    a.uspBanners__banner {
        font-size: 11px;
    }

    .uspBanners__banner {
        width: 32.667%;
    }

    .uspBanners__banner:nth-child(2) {
        margin: 0 1%;
    }
}

@media screen and (max-width: 840px) {

    .uspBanners__container {
        float: left;
        width: 100%;
        background: #ccc;
        text-align: center;
        padding: 1% 0;
    }

    .uspBanners__banner {
        display: inline;
        width: auto;
        float: none;
        margin: 0 3%;
        padding: 0;
    }

    .uspBanners__banner:last-child {
        margin: 0 0 0 3%;
    }

    .uspBanners__banner:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 660px) {

     .uspBanners__banner {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
     }

     .uspBanners__banner:nth-child(2) {
        margin: 6px 0;
     }

     .uspBanners__banner:last-child {
        margin: 0;
    }
}

/* Homepage */

.flexslider {
    position: relative;
    float: left;
}

.flexslider,
.slides {
    width: 100%;
}

.flexslider p {
    margin: 0;
}

.slides li {
    display: table !important;
    width: 100%;
    height: 100%;
}

.sliderfullwidth__container {
    display: table-cell !important;
    vertical-align: bottom;
    top: auto;
    bottom: 0;
    margin-bottom: 4%;
}

p.sliderheader {
    margin: 0 0 2%;
}

.sliderstrip__desktop {
    margin: 2% 0 0;
}

@media screen and (max-width: 768px) {

    .sliderstrip__desktop {
        margin: 0;
    }

    .catalog-category-view .bannercontainer {
        display: none;
    }
}


ul.flex-direction-nav {
    position: absolute;
    margin: 0;
    z-index: 100;
    width: 100%;
    height: 63px;
    bottom: -10%;
}

.flex-direction-nav li a {
    margin: 0;
    display: block;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
    top: -6.6vw;
}

.flex-direction-nav li a.flex-prev {
    background-position: 0 0;
    left: 3%;
    background: url(//dm5gggopeleel.cloudfront.net/images/SS16/Sliders/Assets/sliders+arrows-11.png);
    height: 63px;
    width: 45px;
}

.flex-direction-nav li a.flex-next {
    background-position: 0;
    right: 3%;
    background: url(//dm5gggopeleel.cloudfront.net/images/SS16/Sliders/Assets/sliders+arrows-12.png);
    height: 63px;
    width: 45px;
}

.flex-control-paging,
.flex-direction-nav li a.prev,
.flex-direction-nav li a.next {
    display: none;
}


@media screen and (max-width: 960px) {

    .slidersubtext {
        font-size: 18px;
    }
}


@media screen and (max-width: 770px) {

    header#header {
        z-index: 50;
    }

    #header:after {
        content: '';
        display: table;
    }

    #header-account {
        margin-top: 40px;
    }

    .skip-links {
        overflow: visible;
    }
}

p.collectionhighlights__hoverstate--header {
    margin: 9% 0;
}

.transparentfullwidth--green .fourblocks__container .fourblocks img {
    max-width: 100%;
}

.containercenter {
    width: 98%;
}

.transparentfullwidth {
    margin-top: 2%;
}

.transparentfullwidth--blue .fourblocks__container {
    width: 21%;
    margin-right: 4%;
}

.sectionheader {
    position: relative;
    top: -.7em;
}

.sectiontext {
    line-height: 1.4;
}

.monetateHomeBestsellers {
    display: block;
}

@media screen and (max-width: 768px) {

    .fourblocks__container:nth-child(2) {
        margin-right: 0;
    }

    .sliderfullwidth__container {
        margin-bottom: 24%;
    }

    p.sliderheader {
        font-size: 5vw;
    }

    p.slidersubtext {
        font-size: 16px;
    }

    .newdesktopfooter {
        display: block;
    }

    .sectionheader {
        font-size: 20px;
    }

    .threeblocks__communitytablet--button {
        width: 66%;
    }

    .flex-direction-nav {
        display: none;
    }
}

@media screen and (max-width: 660px) {

    .flex-direction-nav {
        display: none;
    }

    .sliderheader,
    .slidersubtext {
        padding: 0 5%;
    }
}

@media screen and (max-width: 550px) {

    .sliderfullwidth__container {
        top: 0;
        bottom: auto;
        margin-top: 18%;
        margin-bottom: 0;
    }

    .sectionheader {
        margin: 3% 0 !important;
        top: 0;
    }

    p.collectionhighlights__hoverstate--header {
        font-size: 20px;
        margin: 6% 0;
    }

    .collectionhighlights__button {
        font-size: 14px;
        width: 50%;
        padding: 7px 0;
    }

    .sectionheader--orange {
        display: none;
    }

    .catalog-category-view .pageintro {
        display: none;
    }
}

@media screen and (max-width: 545px) {

    p.sliderheader {
        font-size: 6vw;
    }

    p.slidersubtext {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {

    p.slidersubtext {
        font-size: 12px;
    }
}

.transparentfullwidth--top {
    margin-bottom: 2%;
}

/* Footer */

.footer {
    padding-top: 0;
}

.hhFooter {
    position: relative;
    background: #f7f6e1;
}

.hhFooter__row {
    display: table; /* decided to use tables rather than flexbox as IE9 still popular on Hawks */
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.hhFooter__column {
    display: table-cell;
    vertical-align: top;
    padding: 2% 2% 2% 0;
}

.hhFooter__column:last-child {
    padding-right: 0;
    text-align: right;
}

.hhFooter__column:last-child img {
    float: right;
}

.hhFooter__column--four {
    width: 25%;
}

.hhFooter__column--two {
    width: 50%;
}

.hhFooter h3 {
    font-family: 'poppinsregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    margin-bottom: 8%;
}

.hhFooter li {
    margin-bottom: 8px;
}

.hhFooter__collectPlusImage {
    margin: 8% 0;
}

.hhFooter li a:hover {
    text-decoration: underline;
}

.hhFooter__socialIcon {
    display: inline-block;
    float: right;
    margin-left: 12px;
}

.hhFooter__socialIcon:first-child {
    margin-right: 0;
}

.hhFooter__paymentIcon {
    float: left;
    padding-right: 4%;
    max-height: 42px;
}

.hhFooter__feefoBadge {
    float: right;
}

.hhFooter__copyright {
    float: right;
    clear: right;
}

@media screen and (max-width: 1320px) {

    .hhFooter__row {
        width: 96%;
        padding: 0 2%;
    }
}

@media screen and (max-width: 960px) {

    .hhFooter__column {
        display: block;
        float: left;
        width: 48%;
    }

    .hhFooter__collectPlusImage {
        margin: 4% 0;
    }

    .hhFooter__paymentIcon {
        height: 32px;
    }

    .hhFooter__feefoBadge {
        float: left;
    }

    .hhFooter h3 {
        margin-bottom: 4%;
    }

    .hhFooter__column--two {
        padding-top: 4%;
    }

}

@media screen and (min-width: 681px) and (max-width: 960px) {

    .hhFooter__column--four:nth-child(2) {
        text-align: right
    }
}

@media screen and (max-width: 680px) {

    .hhFooter {
        padding-top: 4%;
    }

    .hhFooter__column {
        width: 96%;
        padding: 2%;
        text-align: center;
    }

    .hhFooter img {
        display: inline;
        float: none !important;
    }

    .hhFooter__socialIcon {
        float: none;
    }

    .hhFooter__collectPlusImage {
        margin: 4% auto;
        display: block !important;
    }

    .hhFooter__emailSignup {
        margin: 0 auto;
        display: block !important;
    }

    .hhFooter__copyright {
        clear: both;
        float: none;
    }

    .hhFooter__column:last-child {
        text-align: center;
    }
}

.header-minicart .subtotal .label,
a, 
a:link, 
a:visited, 
a:active {
    color: #000;
}

.header-minicart .minicart-actions .checkout-button {
    color: #fff;
}

.product-view .sharing-links li {
    margin-right: 12px;
}

.cms-page-view .std {
    padding: 2%;
}

.breadcrumbs {
    margin-bottom: 2%;
    padding-left: 1%;
}

.cms-page-view .breadcrumbs {
    display: none;
}

#narrow-by-list dt {
    font-size: 16px;
    font-weight: 700;
}

#narrow-by-list dd {
    margin-left: 2%;
}

.opc .input-box input.input-text {
    padding: 4px 8px !important;
}

.product-view .video {
    display: none;
}



.block-layered-nav--no-filters .block-title {
    display: block;
}
.pageintro {
    float: left;
}
.toolbar {
    clear: both;
}
ul.products-grid {
    border-top: none !important;
}
.catalog-category-view select,
.catalog-product-view select {
    display: inline-block;
}
.sorter .sort-by{
    float:right;
    width: 75%;
}
.pager{
    float:left;
    width: 60%;
}
.toolbar .sorter {
    width: 40%;
}
.pager > .count-container {
    float: right;
    width: 61%;
}
.pages {
    float: left;
}
.quickbuy {
    display: none;
}
.sorter .sort-by select {
    width: 57%;
}
.pager .limiter {
    width: 50%;
    float: right;
}
.limiter select {
    width: 60%;
}
.toolbar .amount.amount--has-pages {
    display: none;
}
.toolbar-bottom .toolbar .amount.amount--has-pages {
    display: block;
}
.catalog-product-view .price-label {
    display: none;
}
.catalog-product-view .price-box .special-price .price {
    margin-top: 0;
}
.catalog-product-view .product-shop .price-box .special-price {
    margin-bottom: 0;
}
.catalog-product-view .product-shop .price-box {
    margin-bottom: 0;
}
.product-options-bottom,
.add-to-cart{
    float:left;
    width:100%;
}
.product-view .add-to-cart-buttons {
    width: 65%;
}
.product-view .product-options .swatch-attr.last {
    float: left;
}
.product-view .product-options .swatch-attr {
    width: 8%;
    min-width: 50px;
}
.product-view .add-to-cart .qty-wrapper label {
    background-color: transparent;
    padding: 10px 10px 10px 0;
}
.product-view .add-to-cart .qty-wrapper .plusandminus {
    background: transparent;
}
.product-view .add-to-cart .qty-wrapper span {
    background: transparent;
    border: 1px solid #000;
    width: 39px;
}
.plusandminus input {
    height: 39px;
    border-radius: 0;
    margin-top: -1px;
}
.product-shop .sizeGuideButton {
    width: 30%;
}
.product-view .add-to-cart {
    padding-top: 0;
}
.product-view .add-to-cart .qty-wrapper span:hover {
    background: transparent;
}
.box-related .item img {
    width: 100%;
}
.tab-content .std {
    z-index: 1;
}
dt.tab.current {
    z-index: 2;
}
li.item p.percentOffContainer {
    display: none !important;
}
.product-view .product-shop .ratings {
    margin: 0;
}
.product-view .add-to-cart .qty-wrapper label {
    background-color: transparent;
}
.product-view .add-to-cart .qty-wrapper .plusandminus,
.product-view .add-to-cart .qty-wrapper span,
.product-view .add-to-cart .qty-wrapper span:hover {
    background: transparent;
}
.product-view .add-to-cart .qty-wrapper span {
    border: 1px solid #000;
}
.plusandminus input {
    height: 40px;
    border-radius: 0;
}
ul.checkout-types button {
    background: #BFD62E;
}
ul.checkout-types button:hover {
    background: #BFD62E;
}
td.product-cart-image {
    display: table;
}
.cart-table thead th:nth-child(3) {
    display: block;
}
.cart-table .btn-empty,
.or,
.btn-continue {
    display: none;
}
.data-table tbody td .item-options {
    margin-left: 0;
    padding-left: 0;
}
form#discount-coupon-form {
    float: left;
    width: 100%;
}
.cart-totals, .cart-forms .discount, .cart-forms .giftcard, .cart-forms .shipping {
    background-color: transparent;
    border: none;
}
#discount-coupon-form label {
    float: left;
}
#discount-coupon-form .field-wrapper {
    float: left;
    width: 100%;
}
#discount-coupon-form .input-text {
    width: 67%;
}
#discount-coupon-form .button-wrapper {
    background: #BFD62E;
    padding: 0 1%;
}
.button-wrapper .button2 span span {
    color: #fff;
    text-decoration: none;
}
.cart ul.checkout-types.bottom {
    width: 50%;
    min-width: 240px;
}
.checkout-onepage-index .col2-right-layout .col-main {
    /*width: 71%;*/
    width:100%;
    clear: both;
    padding: 0;
}
#opc-login .col-2 {
    width: 46%;
    left: 0;
    padding-left: 0;
}
#opc-login .col-2 .form-list label {
    width: 145px;
}
.opc .form-list li {
    float: left !important;
}
.checkout-onepage-success .col-main {
    width: 100%;
}
.checkout-onepage-success .buttons-set button {
    padding: 1%;
    width: 18%;
}
.checkout-onepage-index .col2-right-layout .col-right {
    /*width: 25%;
    margin-left: 2%;*/
    display: none;
}
.col1-layout .col-main {
    clear: both;
}
.cart-table thead tr {
    background: #555150;
    color: #fff;
}
label[for="billing:use_for_shipping_no"] {
    background-position: 324px -2px;
}
#checkout-shipping-method-load .sp-methods dd, #co-shipping-method-form .sp-methods dd {
    margin-left: 1%;
}
#collect_popup {
    width: 100%;
    max-width: 865px;
}
.button + .button {
    margin-left: 0;
}
div#popup_button button.button {
    width: 97%;
    float: none;
    margin: 0 auto;
    margin-top: 1%;
    display: block;
}
.payment-method-options {
    float: left;
    width: 96%;
    padding: 1%;
}
.sp-methods label a,
div#credit-card-form {
    float: left;
}
.sp-methods .form-list {
    padding-left: 0;
    float: left;
}
p.paypal-logo {
    float: none;
    margin: 0 auto;
}
.checkout-cart-index p.paypal-logo {
    float: right;
    margin: 0;
}
ul.checkout-types li {
    width: 100%;
}
.col-1.new-users {
    float: left;
    width: 49%;
}
.customer-account-login .col-2.registered-users {
    float: right;
    padding-left: 0;
    left: 0;
}
.col-1.new-users .buttons-set a.button {
    width: 30%;
    background-color: #000 !important;
    color: #fff;
    padding: 1%;
    text-align: center;
    min-width: 200px;
    font-size: 12px;
}
.customer-account-login .scaffold-form label:first-child {
    width: 135px;
}
.customer-account-create .fieldset{
    margin-left: 0;
}
.customer-account-create .form-list li .field {
    width: 100%;
    padding-bottom: 0.5%;
}
.customer-account-create .scaffold-form label:first-child {
    width: 170px;
}
.customer-account-create .buttons-set {
    max-width: 100%;
}
.customer-account .col2-left-layout .col-main {
    padding-left: 2%;
    margin-top:22px;
}
.customer-account .col2-set .col-1,
.customer-account .col2-set .col-2 {
    float: left;
}
.customer-account .col2-set .col-2 {
    left: 0;
    padding-left: 0;
}
.catalogsearch-result-index .col3-layout .col-wrapper {
    float: left;
    width: 100%;
}
.catalogsearch-result-index .col3-layout .col-wrapper .col-main {
    float: left;
    width: 100%;
}
.catalogsearch-result-index .products-grid > li {
    width: 24%;
    margin-right: 1%;
}
.cms-cataloguerequest h1 {
    font-family: 'poppinsbold', 'Helvetica Neue', Helvetica, 'Arial Black', Arial, sans-serif;
}
.helpmenulinks {float: left;margin: 10px 5px;text-align: center;font-family: 'bebas_neueregular';font-weight: 500;padding-top: 6px;}
.helpmenulinks h2{font-size: 21px;font-weight: normal;color: #616263;}
.helpmenulinks h2.helpactivelink{color:#000000;}
.helpmenulinks h2:hover{color:#000000 !important;text-decoration:none !important;}
.helppage h1{font-family: 'bebas_neueregular';font-weight: 500;}
.helpnav a {font-size: 21px;font-weight: normal;color: #616263;}
.helpnav a:hover {color:#000000 !important; text-decoration:none !important;}
.helpactivelink {color:#000000 !important;}

.helppage,
.helpnav,
.collectplus__section{
    width:100%;
    float:left;
}
.helpnav,
.collectplus{
    background-color: #c9c6bc;
}
.collectplus__section img,
.collectplus__section p{
    float:left;
}
.collectplus__section p {
    margin-bottom: 0;
    margin-left: 1%;
    line-height: 1;
    width: 90%;
}
.collectplus__section {
    margin-bottom: 1%;
}
.collectplus {
    padding: 1%;
    float: left;
}
.collectplus__section p span {
    font-weight: bold;
}
.service__subheader {
    font-size: 21px;
    margin-top: 1%;
    float: left;
    width: 100%;
    margin-bottom: 0.5%;
}
.service__subheader--collectplus{
    margin-top:0;
}
.collectplus__section img{
    width:42px;
}
.helpsection{
    float:left;
    width:100%;
}
.helpsection img {
    float: left;
}
.helpimg{
    float: left;
    padding-right: 1%;
}
.helpsection p{
    width:95%;
    float:left;
}
.page-sitemap .links {
    text-align: left;
}
.catalog-seo-sitemap-category .pager {
    width: 100%;
}
.catalog-seo-sitemap-category .pager > .count-container {
    float: left;
    width: 100%;
}
p.regattasubheading {
    margin-bottom: 1%;
}
.bannercontainer.mens{
    background-repeat: no-repeat;
}
.main-container{
    clear:both;
}




@media only screen and (max-width: 1100px){
p.old-price {
    padding-bottom: 1%;
    margin: 0;
}
p.special-price {
    margin-top:1%;
}

.product-shop .product-options {
    margin-bottom: 10px;
}

}

@media only screen and (max-width: 979px){
.col2-left-layout .pager.pager {
    width: 60%;
    clear: none;
}

.count-container,
.sorter{
    display: none;
}
.col2-left-layout .toolbar-bottom .pager.pager {
    width: 23%;
    float: none;
    margin: 0 auto;
    min-width: 160px;
}
.toggle-content dl dd ol li {
    line-height: 1;
}
.toggle-content dl dd ol li a {
    padding: 0px 2px;
}
.sidebar .block.block-layered-nav .block-title:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #000;
    border-right: none;
    left: 93%;
    top: 40%;
}
.sidebar .block.block-layered-nav .block-title.block-title--open:after {
    border-width: 4px 4px 0 4px;
    border-color: #000 transparent transparent transparent;
    border-style: solid;
}
.display-single-price .cart-forms,
.display-single-price .cart-totals-wrapper,
.display-single-price .crosssell {
    width: 43%;
}
.checkout-onepage-index .col2-right-layout .col-main {
    width: 100%;
}
.catalogsearch-result-index .products-grid > li {
    width: 32%;
}

}

@media only screen and (max-width: 950px){
#collect_popup {
    width: 93%;
}
div#googleMap{
    width: 68% !important;
}

}



@media only screen and (max-width: 860px) and (min-width: 801px){
.product-collateral .toggle-tabs li > span {
    font-size: 10px;
}

}

@media only screen and (max-width: 800px){
.product-view .add-to-cart-buttons {
    width: 100%;
}
.product-shop .product-options {
    margin-top: 0px;
}

}

@media only screen and (min-width: 771px){
.header-language-background .welcome-msg {
    margin-right: 320px;
}

}


@media only screen and (max-width: 770px){
dd.tab-container.current {
    left: 0;
}
.col-1.new-users {
    float: left;
    width: 100%;
}
.customer-account-login .col-2.registered-users {
    width:100%;
}

}



@media only screen and (max-width: 767px) and (min-width: 480px){
.catalog-category-view .col-left.sidebar {
    margin-top: 0 !important; 
    display: block;
}

}

@media only screen and (max-width: 767px){
#opc-login .col-1,
#opc-login .col-2 {
    width: 100%;
}
div#googleMap {
    width: 100% !important;
}
.catalogsearch-result-index .products-grid li.item {
    width: 49%!important;
}
.products-grid > li:nth-child(odd) {
    margin-right: 3.7037%;
}

}

@media screen and (max-width: 716px) {
.helpmenulinks h2{font-size:18px;}
}

@media only screen and (max-width: 650px) and (min-width: 600px){
td.product-cart-info,
td.product-cart-actions {
    float: none;
}
td.product-cart-price:before{
    content: '';
}

}

@media screen and (max-width: 650px){
.display-single-price .cart-forms, .display-single-price .cart-totals-wrapper, .display-single-price .crosssell {
    width: 100%;
}
.cart ul.checkout-types.bottom {
    width: 367px;
    float: none;
}

}

@media screen and (max-width: 623px) {
.helpmenulinks h2 { font-size: 15px;   margin-bottom: 0;   margin-top: 5px;}
}

@media only screen and (max-width: 600px){
.cart-table tr td:nth-child(2) {
    width: 74%;
}

}

@media screen and (max-width: 512px) {
.helpmenulinks h2 { font-size: 13px;}
}

@media screen and (max-width: 500px){
.product-shop .tabs li {
    border-right: none;
}
label[for="billing:use_for_shipping_no"] {
    background-position: 0 22px;
}

}

@media only screen and (max-width: 484px){
.box-related .item, .box-up-sell .products-grid li.item {
    width: 60%;
    margin: 0 auto !important;
    float: none;
    display: block;
}

}

@media only screen and (max-width: 480px){
.products-grid > li {
    width: 46%;
}
.products-grid > li,
.products-grid > li:nth-child(3n) {
    margin-right: 3.7037%;
}

}

@media only screen and (max-width: 479px){
.catalogsearch-result-index .products-grid li.item {
    width: 49% !important;
}
.catalogsearch-result-index .products-grid > li, .products-grid > li:nth-child(3n) {
    margin-right: 1%;
}

.products-grid > li:nth-child(odd) {
    clear: left;
}

}

@media only screen and (max-width: 473px){
#discount-coupon-form .input-text {
    width: 75%;
}

}

@media screen and (max-width: 460px) {
.helpmenulinks h2 { font-size: 12px;}
}

@media only screen and (max-width: 421px){
label[for="billing:use_for_shipping_no"] {
    background-position: 14px 22px;
}

}

@media only screen and (max-width: 405px){
label[for="billing:use_for_shipping_no"] {
    background-position: 102px 22px;
}

.product-options-bottom .qty-wrapper label {
    display: none;
}

}